<!-- // service name
      // short description
      // duration hours  minutes
      //service location
      //assign staff
      // buffer time
      // minimum lead time to book the appointment
      // how many days in advance appointment can be booked
        time picker is not working as expected. validation error not showing
       -->
<div class="container margin-top-10-pr">

    <div class="row margin-bottom-25">
        <div class="col-12">
          <ul class="nav nav-tabs abdb-tabs">
              <li><a href="javascript:void(0);"><span class="span1">&nbsp;1.&nbsp;</span> BUSINESS INFO</a></li>
              <li class="active"><a href="javascript:void(0);"><span class="span1">&nbsp;2.&nbsp;</span> SERVICES</a></li>
              <li><a href="javascript:void(0);"><span class="span1">&nbsp;3.&nbsp;</span> STAFF INFO</a></li>
          </ul>
        </div>
  
    </div>


    <div class="row margin-bottom-10">
        <div class="col-md-12">
          <div align="center">
  
              <h2>
                  List some work that you do in {{businessname}}
              </h2>
  
          </div>
          
        </div>
    </div>

 <!--  <div class="row">
      <div class="col-12">
          <hr>
      </div>
  </div> -->
  <form class="form-horizontal" 
            (ngSubmit)="addServices()" 
            #addServiceForm="ngForm">

      <div class="row form-group">

              <div class="col-md-6">
                <label for="id-service-name" class="">Service Name: </label>
                <input type="text" class="form-control" 
                  id="id-service-name" 
                  name="svcName"
                  placeholder="Service Name"
                  #svcName="ngModel"
                  ngModel required>
                <span class="help-block" 
                      *ngIf="!svcName.valid && svcName.touched">
                    Service Name is required
                </span>
              </div>

              <div class="col-md-6">
                  <label for="id-service-time" class="">Service time: </label>
                  <div class="">
                     <input type="text" class="form-control" 
                          id="id-service-time" 
                          name="serviceTime"
                          placeholder="Service time"
                          #svcTime="ngModel"
                          ngModel required>
                        <span class="help-block" 
                              *ngIf="!svcTime.valid && svcTime.touched">
                            Service Time is required
                        </span>
                  </div>
              </div>  

      </div>
      <div class="row form-group">
          <div class="col-md-6">
            <label for="id-svc-cost" class="">Service cost: </label>
            <div class="">
                <input type="text" class="form-control" 
                id="id-service-cost" 
                name="serviceCost"
                placeholder="Service cost"
                #busName="ngModel"
                ngModel>
            </div>
          </div>  
      </div>
      <!-- <div class="row form-group">
        <div class="col-md-6">
              <label for="id-duration" class="">Duration: </label>
              <timepicker [(ngModel)]="duration" 
                          [showSpinners]="false"
                          [showMeridian]="false"
                          id="id-duration"
                          #dur="ngModel"
                          name="durationName">
              </timepicker>
              <span class="help-block" 
                    *ngIf="!dur.valid && dur.touched">
                    Duration is required
              </span>
          </div>
      </div> -->
      
      <!-- <div class="row form-group">
        <div class="col-md-6 text-center">
         
        </div>
      </div> -->



      <div class="form-group">
          <div class="row margin-top-20">

                   <div class="col-md-6">
                          <button type="submit" 
                          class="btn yellow-button">Add More Service</button>
                      </div>

                      <div class="col-md-6 text-right">

                          <button id="btnCancel" name="btnCancel" class="btn btn-default my-btn btn-ccc">BACK</button>
                          <button id="btnSubmit" name="btnSubmit" class="btn btn-default my-btn btn-red">NEXT</button>

                      </div>


          </div>

      </div><br/><br/>

      
  </form>
</div>