<!-- // service name
      // short description
      // duration hours  minutes
      //service location
      //assign staff
      // buffer time
      // minimum lead time to book the appointment
      // how many days in advance appointment can be booked
        time picker is not working as expected. validation error not showing
       -->
<div class="container margin-top-10-pr">

    <div class="row margin-bottom-25">
        <div class="col-12">
          <ul class="nav nav-tabs abdb-tabs">
              <li><a href="javascript:void(0);"><span class="span1">&nbsp;1.&nbsp;</span> BUSINESS INFO</a></li>
              <li class="active"><a href="javascript:void(0);"><span class="span1">&nbsp;2.&nbsp;</span> SERVICES</a></li>
              <li><a href="javascript:void(0);"><span class="span1">&nbsp;3.&nbsp;</span> STAFF INFO</a></li>
          </ul>
        </div>
  
    </div>


    <div class="row margin-bottom-10">
        <div class="col-md-12">
          <div align="center">
  
              <h2>
                  Let us add the services that you serve at <span class="text-logo-letter-o font-weight-bold">{{businessData?.bus_name}}</span>
              </h2>
  
          </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
   <div class="row">
       <div class="col-md-6">
          <form class="form-horizontal" 
            (ngSubmit)="addService()" 
            #addServiceForm="ngForm">
            <div class="row form-group">
                <div class="col-12">
                    <label for="id-service-name" class="">Service Name: </label>
                    <input type="text" class="form-control" 
                        id="id-service-name" 
                        name="svcName"
                        placeholder="Service Name"
                        [(ngModel)]="serviceData.name"
                        #svcName="ngModel" required>
                    <span class="help-block" 
                        [hidden]="svcName.valid || svcName.pristine">
                        Service Name is required
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="id-service-time" class="">Service Duration: </label>
                    <input type="text" class="form-control" 
                        id="id-service-time" 
                        name="serviceTime"
                        placeholder="Service time"
                        [(ngModel)]="serviceData.duration"
                        #svcTime="ngModel"
                        required>
                    <span class="help-block" 
                        [hidden]="svcTime.valid || svcTime.pristine">
                        Service Duration is required
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="id-svc-cost" class="">Service Cost: </label>
                    <input type="text" class="form-control" 
                        id="id-svc-cost" 
                        name="serviceCost"
                        placeholder="Service Cost"
                        [(ngModel)]="serviceData.cost"
                        #svcCost="ngModel" required>
                    <span class="help-block" 
                        [hidden]="svcCost.valid || svcCost.pristine">
                        Service Cost is required
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="id-svc-desc" class="">Service Description: </label>
                    <input type="text" class="form-control" 
                        id="id-svc-desc" 
                        name="serviceDesc"
                        placeholder="Service Description"
                        [(ngModel)]="serviceData.description"
                        #svcCost="ngModel">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12" *ngIf="isAddService">
                    <button type="submit" 
                    class="btn yellow-button cursor-pointer">Add Service</button>
                </div>
                <div class="col-12" *ngIf="!isAddService">
                    <button type="submit" 
                    class="btn yellow-button cursor-pointer">Update Service</button>
                </div>
            </div>
          </form>
       </div>
       <div class="col-md-6">
            <div class="list-group">
                <ng-container *ngFor="let service of services">
                    <span class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{service.name}} ({{service.cost | currency}})</h5>
                        <small>{{service.duration}}</small>
                      </div>
                      <p class="mb-1">
                        {{service.description}}.
                      </p>
                      <small><a [routerLink]="" class="btn btn-sm" (click)="modifyService(service)"> EDIT</a>
                      <a [routerLink]="" class="btn btn-sm"> REMOVE</a></small>
                    </span>
                </ng-container>
            </div>
        </div>
   </div>
   <div class="row alert alert-danger mt-2" role="alert" *ngIf="error">
        <div class="col-12 text-right">
            {{errorMessage}}
        </div>
    </div>
   <div class="row mt-2">
        <div class="col-12 text-right">
            <button id="btnCancel" name="btnCancel" 
                    class="btn btn-default my-btn btn-ccc cursor-pointer">BACK</button>
            <button id="btnSubmit" name="btnSubmit" 
                    class="btn btn-default my-btn btn-red cursor-pointer"
                    (click)="addServices()">NEXT</button>
        </div>
   </div>
</div>
<br><br>




 <!-- <div class="row form-group">
        <div class="col-md-6">
              <label for="id-duration" class="">Duration: </label>
              <timepicker [(ngModel)]="duration" 
                          [showSpinners]="false"
                          [showMeridian]="false"
                          id="id-duration"
                          #dur="ngModel"
                          name="durationName">
              </timepicker>
              <span class="help-block" 
                    *ngIf="!dur.valid && dur.touched">
                    Duration is required
              </span>
          </div>
      </div> -->
      
      <!-- <div class="row form-group">
        <div class="col-md-6 text-center">
         
        </div>
      </div> -->