<div class="container">
  <div class="row m-bot-2">
        <div class="col-md-12">
          <hr>
        </div>
   </div>
  <div class="row m-bot-3 h4">
        TRENDING
  </div>  
  <div class="row row-section">
    <div class="col-sm-3">
              first salon
    </div>
    <div class="col-sm-3">
        doctors office
    </div>
    <div class="col-sm-3">
        appliance repair
    </div>
    <div class="col-sm-3">
        dentist office
    </div>
  </div>
  <div>
  </div>

  <div class="row m-top-2 m-bot-2">
      <div class="col-md-12">
        <hr>
      </div>
 </div>  
</div>
