<!-- <div class="container">
  <div class="row m-bot-2">
        <div class="col-md-12">
          <hr>
        </div>
   </div>
  <div class="row m-bot-3 h4">
        TRENDING
  </div>  
  <div class="row">
    <div class="col-sm-3" *ngFor="let business of trendingBusiness">
        <div class="panel panel-default simple-panel text-center">
           <div class="panel-body">
             <div>
                {{business.name}}
             </div>
             <div>
                {{business.address}}
             </div>
             <br>
             <div>
              <div class="div-inline pull-right">
                  <a [routerLink]="['appointment', business.id]"> book appointment </a>
              </div>
              <div class="div-inline">
                <a [routerLink]="['review', business.id]"> write review </a>
               </div>
             </div>
           </div>
        </div>
    </div>
  </div>
  <div>
  </div>

  <div class="row m-top-2 m-bot-2">
      <div class="col-md-12">
        <hr>
      </div>
 </div>  
</div> -->
<section class="carousel slide" data-ride="carousel" id="trending">
    <div class="row">
        <div class="col-sm-12 mt-4 mb-5">
            <h1 class="text-blue text-xlarge text-uppercase"><span class="text-red text-small strong text-xxlarge mr-2">\\</span>TRENDING
    <a class="btn btn-primary btn-sm bg-blue ml-3 trendingprev" href="trending" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
    <a class="btn btn-primary btn-sm bg-blue trendingnext" href="trending" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
  </h1>
        </div>
        <div class="col-sm-12">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                            <div class="card">
                                <img class="card-img-top" src="https://dummyimage.com/320x180/000/fff.png" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>