<header id="header">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 logo">
      <a [routerLink]="['']">
        <img class="desktop" src="{{imageRoot}}/logo.png" alt="LORVIDS" />
        <img class="mobile" src="{{imageRoot}}/favicon.png" alt="LORVIDS" />
      </a>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-1 col-8 inputs">
      <div class="row">
        <div class="col-xl-8 col-lg-12 col-md-12 relative p-0 search-box-div">
          <i class="fa fa-search absolute"></i>
          <input class="form-control search-box" name="" placeholder="Search a service for appointment" type="text" autocomplete="off">
        </div>
        <div class="col-xl-4 col-lg-0 col-md-0 p-0">
          <select name="svc" id="id-svc" 
          class="form-control select" selected="Dental"
          >
            <option 
            value="Dental" selected>
                Dental
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 col-2 menu">
      <nav class="navbar navbar-toggleable-md navbar-light">
          <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" 
          class="navbar-toggler navbar-toggler-right" 
          type="button" (click)="toggleNav()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{show:showNav}">
            <div class="navbar-nav" id="top-navbar">
              <ul>
                <li><a>Log In</a></li>
                <li><a>Sign Up</a></li>
                <li><a>Help</a></li>
                <li class="list"><a>LIST YOUR BUSINESS</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
  </div>
</header>