.logo {
    width: 160px;
    margin-top: -14px;
}

#navigation {
    background: #fafafa;
    border-bottom: 1px solid #e4e4e4 !important;
    height: 50px;
}

#navigation .dropdown-menu {
    min-width: 11rem;
}

#navigation.navbar-inverse .navbar-nav .nav-link {
    color: #484848 !important;
    font-weight: 400;
}

#navigation.navbar-inverse .navbar-nav .nav-item {
    margin: 0 2px;
    webkit-transition: color 0.5s;
}

#navigation.navbar-inverse .navbar-nav .nav-link:focus,
#navigation.navbar-inverse .navbar-nav .nav-link:hover {
    box-shadow: inset 0 -2px 0 #484848;
}

#navigation .dropdown-menu .dropdown-item {
    padding: 7px 1.5rem;
}

#navigation .dropdown-menu .dropdown-item .fa,
#navigation .nav-item .nav-link .fa {
    color: #0275d8;
}

#navigation.navbar-inverse .navbar-toggler {
    border-color: #0064d3;
    padding: 7px 13px;
    cursor: pointer;
    top: 7px;
}

#navigation.navbar-inverse .navbar-toggler .fa-bars {
    color: #0064d3;
}

#navigation .navbar-toggler-right {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
}

@media (min-width: 992px) {
    #navigation.navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
    #navigation.navbar-toggleable-md .navbar-nav {
        margin-top: 4px;
    }
}

@media (max-width: 992px) {
    #navigation {
        background: #fafafa;
        border-bottom: 1px solid #e4e4e4 !important;
        height: auto;
    }
}




/*header {
    background-color: #205081; 
    display: table !important;
    width: 100% !important; 
} 
.navbar-nav{
    display:flex !important;
    flex-direction: row !important;
    }
    
    .nav-item{
    padding: 0 20px;
    }
    
    
    #id-header-navbar{
    display: inline-block !important;;
        line-height: 2;
    }
    
    .navbar{
    flex-direction: row !important;
    }

*/    
/* @media (min-width: 768px) {
    .header-search {
        width: 350px;
    }
} */

/* .header-content{
    display: table-cell !important;
    vertical-align: middle !important;
} */

/* .blue-menu>li>a:focus, .blue-menu>li>a:hover {
    text-decoration: none;
    background-color: #4284ca;
} */

/* .blue-menu li.active a {
    color: #205081;
    background-color: white;
}

.blue-menu a {
    color: #ffffff;
} */


/* .bg-color {
    background-color: #002d5b;
}

.header-nav .nav-link {
    color: #ffffff;
}

.header-nav li.nav-item.active,  .header-nav li.nav-item:hover  {
    box-shadow: inset 0 -4px 0 #1dbd71;
}

ul.header-nav li {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px
}

ul.header-nav li:first-child {
    margin: 0
} */