<header id="header">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 logo">
      <a [routerLink]="['']">
        <img class="desktop" src="{{imageRoot}}/logo.png" alt="LORVIDS" />
        <img class="mobile" src="{{imageRoot}}/favicon.png" alt="LORVIDS" />
      </a>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-1 col-8 inputs">
      <div class="row" [ngClass]="{'d-none':isMainPage}">
        <div class="col-xl-8 col-lg-12 col-md-12 relative p-0 search-box-div">
          <i class="fa fa-search absolute"></i>
          <input class="form-control search-box" #searchFor name="" placeholder="Search a service for appointment" 
          type="text" autocomplete="off" (keyup.enter)="onSearch(searchFor.value)">
        </div>
        <div class="col-xl-4 col-lg-0 col-md-0 p-0">
          <select name="svc" id="id-category" 
          class="form-control select"
          #category="ngModel" [(ngModel)]="categorySelected">
            <ng-container *ngFor="let category of categoryValues">
              <option [ngValue]="category">
                {{category}}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-9 col-2 menu">
      <nav class="navbar navbar-toggleable-md navbar-light">
          <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" 
          class="navbar-toggler navbar-toggler-right" 
          type="button" (click)="toggleNav()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{show:showNav}">
            <div class="navbar-nav" id="h-navbar">
              <ul>
                <li [ngClass]="{'d-none':loggedIn}"><a [routerLink]="['/login']">Log In</a></li>
                <li [ngClass]="{'d-none':loggedIn}"><a [routerLink]="" (click)="logout()">Log Out</a></li>
                <li [ngClass]="{'d-none':loggedIn}"><a [routerLink]="['/signup']">Sign Up</a></li>
                <li><a>Help</a></li>
                <li class="list" [ngClass]="{'d-none':loggedIn}"><a [routerLink]="['listb']">LIST YOUR BUSINESS</a></li>
                <li class="dropdown navbar-user" [ngClass]="{show:showProfile, 'd-block-inline':loggedIn, 'd-none':!loggedIn}" (click)="toggleProifle()">
                  <a href="/dashboard/home" id="user__img">
                    <img alt="Nandakishore" style="border-radius: 50%;" src="">
                  </a>
                  <a href="javascript:;" class="dropdown-toggle">
                    <span class="hidden-xs">Nandakishore<b class="caret"></b></span>
                  </a>
                  <ul class="dropdown-menu animated fadeInRight show">
                    <li><a target="_self" href="/dashboard/settings/personal_info">Edit profile</a></li>
                    <li><a target="_self" href="/dashboard/home">Dashboard</a></li>
                    <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
  </div>
</header>