header {
    background: #fff;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.09);
    box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.09);
    height: 68px;
    padding-top: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#header .logo a {
    margin-left: 20px;
}

#header .logo img.desktop {
    height: 37px
}

#header .logo img.mobile {
    display: none
}

#header .inputs input {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-color: #e7e6e6;
    display: inline-block;
    padding: 10px 0;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;
    width: auto
}

#header .inputs input::-webkit-input-placeholder {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

#header .inputs input:-ms-input-placeholder {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

#header .inputs input::-ms-input-placeholder {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

#header .inputs input::placeholder {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

#header .inputs input:focus {
    border-color: #e7e6e6
}


#header .inputs .search-box::after {
    background-color: #e7e6e6;
    content: "\007C";
    display: block;
    height: 24px;
    position: absolute;
    left: 0;
    top: 9px;
    width: 1px;
}

#header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

#header .menu .navbar {
    padding-bottom: 0;
    padding-top: 0
}

#header .menu .navbar #h-navbar ul {
    margin: 0
}

#header .menu .navbar #h-navbar li {
    display: inline-block;
    margin-left: 30px
}

#header .menu .navbar #h-navbar li.list a {
    border: 1px solid #02d830;
    border-radius: 3px;
    color: #02d830;
}

#header .menu .navbar #h-navbar li.list a:hover {
    color: #ffffff;
    background: #02d830;
    outline: none;
    text-decoration: none
}

#header .menu .navbar #h-navbar li a {
    color: #000000;
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    text-transform: capitalize;
}

#header .menu .navbar #h-navbar .dropdown-toggle {
    text-transform: capitalize
}

#header .menu .navbar #h-navbar .dropdown-menu li {
    display: block;
    margin-left: 10px
}

#header .menu .navbar #h-navbar .dropdown-menu li a {
    text-transform: capitalize
}

#header .menu .navbar #h-navbar #user-avatar {
    padding-bottom: 0;
    padding-top: 0
}


@media only screen and (max-width: 767px) {
    #header .menu .navbar #h-navbar .dropdown-toggle span {
        display:none
    }
}

@media only screen and (min-width: 1266px){
    #header .logo a {
        line-height:40px
    }

    #header .logo a .desktop {
        height: 27px
    }
    .p-0 {
        padding: 0 0 !important
    }
    
    #header select::before {
            background-color: #e7e6e6;
            content: "\007C";
            display: block;
            height: 24px;
            position: absolute;
            left: 0;
            top: 9px;
            width: 1px;
        }
        
    #header .inputs .select {
            margin-left: 0px;
            margin-top: 7px;
            padding-left: 35px;
            width: 100%;
            height: 100%;
            border-left : none;
            border-top-left-radius:unset;
            border-bottom-left-radius:unset;
    }
    
    #header select.form-control:not([size]):not([multiple]) {
            height: calc(2.25rem + 6px);
    }
    
    #header .inputs .search-box {
        margin-left: 0px;
        margin-top: 7px;
        padding-left: 35px;
        width: 100%;
        border-right: none;
        border-top-right-radius:unset;
        border-bottom-right-radius:unset;
    }
    
    #header .inputs .fa-search
    {
        font-size: 18px;
        left: 12px;
        top: 18px;
    }
    
}

@media only screen and (min-width: 1111px) and (max-width: 1265px) {
    #header .logo a {
        line-height: 40px
    }

    #header .logo a .desktop {
        height: 27px
    }
    
    #header .select{
        display: none;
    }
    #header .inputs .search-box {
        margin-left: 15px;
        margin-top: 7px;
        padding-left: 35px;
        width: 100%
    }
    
    #header .inputs .fa-search
    {
        font-size: 18px;
        left: 25px;
        top: 18px;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1110px) {
    #header .menu .navbar {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    #header .menu .navbar #h-navbar li {
        margin-left: 4px
    }

    #header .select{
        display: none;
    }

    #header .inputs .search-box {
        margin-left: 15px;
        margin-top: 7px;
        padding-left: 35px;
        width: 100%
    }
    
    #header .inputs .fa-search
    {
        font-size: 18px;
        left: 25px;
        top: 18px;
    }

    #header .logo a {
        line-height: 40px
    }

    #header .logo a .desktop {
        height: 27px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #header .collapse {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    #header .navbar-toggler {
        display: none
    }

    #header .menu .navbar {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    #header .menu .navbar #h-navbar li {
        margin-left: 4px
    }

    #header .select{
        display: none;
    }
    
    #header .inputs .search-box {
        margin-left: 15px;
        margin-top: 7px;
        padding-left: 35px;
        width: 100%
    }
    
    #header .inputs .fa-search
    {
        font-size: 18px;
        left: 25px;
        top: 18px;
    }

    #header .logo a {
        line-height: 40px
    }

    #header .logo a .desktop {
        height: 27px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #header {
        -webkit-box-shadow:none;
        box-shadow: none;
        border-bottom: solid 1px #e7e6e6;
        padding-top: 14px
    }

    #header .collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    #header .navbar-toggler {
        display: none
    }

    #header .inputs {
        display: none
    }

    #header .menu {
        padding-right: 0
    }

    #header .menu .navbar {
        padding-right: 0
    }

    #header .menu .navbar #h-navbar .dropdown-menu {
        position: absolute
    }
}

@media only screen and (max-width: 575px) {
    #header {
        border-bottom:solid 1px #e7e6e6;
        height: 55px;
        padding-top: 0
    }

    #header .inputs {
        margin-left: 0;
        padding-left: 0
    }

    #header .inputs .date-input,#header .inputs .select2-container,#header .inputs .fa-chevron-down {
        display: none
    }

    #header .select{
        display: none;
    }

    #header .inputs .search-box {
        margin-left: 0;
        margin-top: 7px;
        padding-left: 35px;
        width: 100%
    }

    #header .inputs .fa-search
    {
        font-size: 18px;
        left: 10px;
        top: 18px;
    }

    #header .logo a {
        display: block;
        margin-left: 45%
    }

    #header .logo a img.desktop {
        display: none
    }

    #header .logo a img.mobile {
        display: block;
        height: 25px;
        margin-top: 13px
    }

    #header .menu .navbar {
        display: inline-block;
        padding: 8px 0;
        position: relative;
        right: 0;
        top: 0;
        -webkit-transform: initial;
        transform: initial
    }

    #header .menu .navbar .navbar-toggler {
        border: none;
        outline: 0;
        position: relative;
        right: 13px;
        top: 0
    }

    #header .menu .navbar #h-navbar ul {
        padding-left: 10px;
        text-align: right
    }

    #header .menu .navbar #h-navbar li {
        display: block;
        margin-left: 0
    }

    #header .menu .navbar #h-navbar li.list a {
        border: none;
        color: #333333
    }

    #header .menu .navbar #h-navbar li.list a:hover {
        color: #333333;
        background: #fff
    }

    #header .menu .navbar .navbar-collapse {
        background-color: #fff;
        border: 1px solid #e3e3e3;
        -webkit-box-shadow: 0px 2px 2px 0px #e3e3e3;
        box-shadow: 0px 2px 2px 0px #e3e3e3;
        left: -130px;
        position: absolute;
        right: 30px;
        top: 54px;
    }
}



#header .navbar-user .dropdown-toggle {
    text-transform: capitalize;
    color: #333333
}

#header .navbar-user .dropdown-toggle:hover,#header .navbar-user .dropdown-toggle:focus {
    text-decoration: none
}

#header .navbar-user .dropdown-toggle img {
    margin-right: 10px;
    border-radius: 50%
}

#header .navbar-user .dropdown-toggle span {
    margin-right: 10px
}

#header .navbar-user .dropdown-toggle::after {
    color: #e0e0e0;
    font-size: 18px
}

#header .navbar-user .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none
}

#header .navbar-user .dropdown-menu li {
    margin-left: 0px;
    width: 100%
}

#header .navbar-user .dropdown-menu li a {
    text-transform: capitalize;
    padding: 5px 15px;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

#header .navbar-user .dropdown-menu li a:hover {
    text-decoration: none;
    background: #eafcff
}

#header .navbar-user .dropdown-menu li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}



.dropup,.dropdown {
    position: relative
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent
}

.dropdown-toggle:focus {
    outline: 0
}

.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem
}

.dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #eceeef
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: normal;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0
}

.dropdown-item:focus,.dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9
}

.dropdown-item.active,.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8
}

.dropdown-item.disabled,.dropdown-item:disabled {
    color: #636c72;
    cursor: not-allowed;
    background-color: transparent
}

.show>.dropdown-menu {
    display: block
}

.show>a {
    outline: 0
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropdown-menu-left {
    right: auto;
    left: 0
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #636c72;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 0.125rem
}
