<div class="container margin-top-10-pr">
    <form #confirmUserForm="ngForm" class="form form-horizontal" novalidate>
        <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email"
                            class="form-control" 
                            name="email"
                            [(ngModel)]="uemail"
                            #email="ngModel"
                            placeholder="Email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                            required>

                        <span *ngIf="email.errors && (email.dirty || email.touched)" class="help-block">
                          <span [hidden]="!email.errors.required">
                            Email is required!
                          </span>
                          <span [hidden]="!email.errors.pattern">
                              Not a valid email!
                          </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirmation Code</label>
                        <input type="password" 
                            name="upassword"
                            [(ngModel)]="upassword" 
                            #password="ngModel" 
                            class="form-control" 
                            placeholder="Confirmation Code" 
                            required>
                    </div>
                </div>
        </div>

        <div class="alert alert-danger mt-1" role="alert" *ngIf="error">
            {{errorMessage}}
        </div>
        <div class="row margin-top-10 padding-10">
              <button type="button" 
              class="btn btn-primary btn-lg btn-block yellow-button padding-10 create-btn cursor-pointer" 
              (click)="confirmUser()"
              [disabled]="!confirmUserForm.form.valid">Confirm Account</button>
        </div>
        <div class="text-center">
            Already have an account? <a href="">Login here!</a>
            New Users !!! <a href="">Create Free Account here!</a> 
        </div>
    </form> 
</div>
