<div class="container margin-top-10-pr">

      <div class="row margin-bottom-25">
          <div class="col-12">
            <ul class="nav nav-tabs abdb-tabs">
                <li class="active"><a href="javascript:void(0);"><span class="span1">&nbsp;1.&nbsp;</span> BUSINESS INFO</a></li>
                <li><a href="javascript:void(0);"><span class="span1">&nbsp;2.&nbsp;</span> SERVICES</a></li>
                <li><a href="javascript:void(0);"><span class="span1">&nbsp;3.&nbsp;</span> STAFF INFO</a></li>
            </ul>
          </div>

      </div>

      <div class="row">
            <div class="col-md-6">
                <h2>
                Tell us about your business.
                </h2>
                <p>Help us finish up your account details.</p>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
            <hr>
        </div>
      </div>

  
  <!-- <div class="row">
      <div class="col-12">
          <hr>
      </div>
  </div> -->
  <form class="form-horizontal" 
            (ngSubmit)="addBusines()" 
            #addBusinessForm="ngForm">

            <div class="row">
                <div class="col-md-7">
                          <div class="row form-group">
                            <div class="col-md-12">
                                    <label for="id-bus-name" class="">Business Name: </label>
                                    <input type="text" class="form-control" 
                                      id="id-bus-name" 
                                      name="busName"
                                      [(ngModel)]="businessData.bus_name"
                                      class="form-control"
                                      #busName = "ngModel"
                                      placeholder="Business Name"
                                      required>
                                    <span class="help-block" 
                                          [hidden]="busName.valid || busName.pristine">
                                        Business Name is required
                                    </span>
                            </div>
                          </div>

                            <div class="row form-group">
                                    <div class="col-md-6">
                                              <label for="id-bus-Addrs" class="">Business Address</label>
                                              <input type="text" class="form-control" 
                                                id="id-bus-Addr" 
                                                name="busAddr"
                                                [(ngModel)]="businessData.address"
                                                placeholder="Business Address"
                                                #busAddr="ngModel"
                                                required>
                                              <span class="help-block" 
                                              [hidden]="busAddr.valid || busAddr.pristine">
                                                  Business Address is required
                                              </span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="id-bus-website">Apt.Suit Number</label>
                                        <input type="text" class="form-control" 
                                          id="id-apt-ste" 
                                          name="aptSuite"
                                          [(ngModel)]="businessData.aptSuite"
                                          placeholder="Apt.Suit Number"
                                          #busAptSuite="ngModel">
                                    </div>
                            </div>
                            <div class="row form-group">
                                  <div class="col-md-6">
                                      <label for="id-bus-phone" class="">Business Phone</label>
                                      <input type="tel" class="form-control" 
                                        id="id-bus-phone" 
                                        name="busPhone"
                                        placeholder="Business Phone"
                                        [(ngModel)]="businessData.phone"
                                        #busPhone="ngModel"
                                        required phone>
                                      <span class="help-block" 
                                      [hidden]="busPhone.valid || busPhone.pristine">
                                          Business Phone is required
                                      </span>
                                  </div>

                                  <div class="col-md-6">
                                    <label for="id-bus-email" class="">Business Email </label>
                                    <input class="form-control" 
                                      id="id-bus-email" 
                                      name="busEmail "
                                      placeholder="Business Email"
                                      [(ngModel)]="businessData.email"
                                      #busEmail="ngModel"
                                      required email>
                                    <span class="help-block" 
                                    [hidden]="busEmail.valid || busEmail.pristine">
                                        Business Email  is required.
                                    </span>
                                  </div>
                            </div>
                            <div class="row form-group">
                                  <div class="col-md-6">
                                          <label class="control-label" for="selectCategory">Business Category</label>
                                          <div>
                                            <select id="idBusCategory" name="busCategory" class="form-control">
                                              <option value="1">India</option>
                                              <option value="2">United States</option>
                                            </select>
                                          </div>
                                  </div>

                                  <div class="col-md-6">
                                      <label for="id-bus-phone" class="">Business Timezone </label>
                                      <input type="tel" class="form-control" 
                                        id="id-bus-timezone" 
                                        name="busTimezone "
                                        placeholder="Business Timezone"
                                        #busTimezone="ngModel"
                                        ngModel required>
                                      <span class="help-block" 
                                          *ngIf="!busTimezone.valid && busTimezone.touched">
                                          Business Timezone  is required.
                                      </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="id-bus-phone" class="">Business Website </label>
                                    <input class="form-control" 
                                      id="id-bus-website" 
                                      name="busWebsite"
                                      [(ngModel)]="businessData.website"
                                      placeholder="Business Website "
                                      #busWebsite="ngModel">
                                    <span class="help-block" 
                                    [hidden]="busEmail.valid || busEmail.pristine">
                                        Business Website  is required
                                    </span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="id-bus-appointment-ins" class="">Appointment Instructions </label>
            
                                    <textarea rows="2" class="form-control"
                                      id="id-bus-appointment-ins" 
                                      name="apptInstructions"
                                      [(ngModel)]="businessData.appointment_instructions"
                                      placeholder="Appointment Instructions"
                                      #busAppointments="ngModel">
                                    </textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="id-staff-salary" class="">Business Statement </label>
                                    <textarea rows="2" class="form-control"
                                      id="id-bus-statements" 
                                      name="busStatement"
                                      [(ngModel)]="businessData.statement_notes"
                                      placeholder="Business Statement"
                                      #busStatement="ngModel">
                                    </textarea>
                                </div>
                          </div>
                          <div class="row form-group">
                              <div class="col">
                                  <label for="id-staff-salary" class="">Awards  </label>
                                  <textarea rows="2" class="form-control"
                                    id="id-bus-awards" 
                                    name="busAwards"
                                    [(ngModel)]="businessData.awards"
                                    placeholder="Awards"
                                    #busAwards="ngModel"
                                    ngModel>
                                  </textarea>
                              </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <div>
                                        <label class="">Upload Images: </label>
                                        <image-upload 
                                           url="{{uploadApi}}"
                                           (removed)="onImageRemoved($event)"
                                           [headers]="awsHeaders"
                                           [beforeUpload]="onBeforeUpload"
                                           [uploadedFiles]="images"
                                           (uploadFinished)="onUploadFinished($event)">
                                        </image-upload>
                                    </div>
                                </div>
                              </div>

              <br/><br/>
    </div><!-- col-md-7 -->

    <div class="col-md-5">
        <div class="d-flex flex-column align-items-center">
            <div>
                <h6>Working hours</h6>
            </div>
            <div>
                <app-business-hours 
                   [startTime]="startTime"
                   [endTime]="endTime"
                   (onBeginTimeSelected)="beginTimeSelected($event)"
                   (onEndTimeSelected)="endTimeSelected($event)"
                   #busHours>
                </app-business-hours>
            </div>
            
        </div>
    </div>

</div><!--row-->

        <div class="form-group margin-right-18-minus">
            <div class="col-md-12" align="right">
            <button id="btnSubmit" name="btnSubmit" class="btn btn-default my-btn btn-red">NEXT</button>
            </div>
        </div>

  </form>
  
</div>

