<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h2>
            Let's create your account
        </h2>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <hr>
      </div>
  </div>
  <form class="form-horizontal" 
            (ngSubmit)="addBusines()" 
            #addBusinessForm="ngForm">
      <div class="row form-group">
        <div class="col-md-6">
          <label for="id-bus-name" class="">Business Name: </label>
          <input type="text" class="form-control" 
            id="id-bus-name" 
            name="busName"
            placeholder="Business Name"
            #busName="ngModel"
            ngModel required>
          <span class="help-block" 
                *ngIf="!busName.valid && busName.touched">
              Business Name is required
          </span>
        </div>
        <div class="col-md-6">
          <label for="id-bus-addr" class="">Business Address: </label>
          <div class="">
            <input type="text" class="form-control" 
            id="id-bus-addr" 
            name="busAddr"
            placeholder="Business Address"
            #busAddr="ngModel"
            ngModel required>
            <span class="help-block" 
                  *ngIf="!busAddr.valid && busAddr.touched">
                Business Address is required
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="id-bus-email" class="">Business Email</label>
            <input type="email" class="form-control" 
              id="id-bus-email" 
              name="busEmail"
              placeholder="Business Email"
              #busEmail="ngModel"
              ngModel required>
            <span class="help-block" 
                *ngIf="!busEmail.valid && busEmail.touched">
                Business Email is required
            </span>
        </div>
        <div class="col-md-6">
          <label for="id-bus-phone" class="">Business Phone</label>
            <input type="tel" class="form-control" 
              id="id-bus-phone" 
              name="busPhone"
              placeholder="Business Phone"
              #busPhone="ngModel"
              ngModel required>
            <span class="help-block" 
                *ngIf="!busPhone.valid && busPhone.touched">
                Business Phone is required
            </span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
            <label for="id-bus-website">Business Website</label>
            <input type="text" class="form-control" 
              id="id-bus-website" 
              name="busWs"
              placeholder="Business Website"
              #busWs="ngModel"
              ngModel>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12 text-center">
          <button type="submit" 
                  class="btn btn-info w-75">Next</button>
        </div>
      </div>
  </form>
</div>

