#hero-section {
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/Banner_Francia_esWvoy.jpg);
  background-size: cover;
  padding: 100px;
}

@media (max-width: 767px) {
  #hero-section {
      padding: 100px 0px;
  }
}


/* .header-main {
  background-color: #1e242e;
  position: relative
}

.header-main .gallery {
  opacity: 1;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out
}

.header-main .content {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.global-search {
  position: relative;
}

.global-search input{
  height: 50px;
  width: 426px;
  position: relative;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.global-search a{
  float: right;
  height: 50px;
  border-radius: 0px;
}

.full-width-search .global-search input {
  height: 50px;
  width: 85%;
  font-size: inherit;
  border-radius: 3px 0 0 3px;
  padding-left: 22px;
  color: #999999;
  text-shadow: none;
}

.full-width-search .global-search a {
  width: 15%;
}

.home-panel{
  height : 100px;
}
.row-section{
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #ffffff;
}
.jumbotron {
    height: 500px;
    background-size: cover;
    background-color: #333;
    background-position: center center;
  }

  .container .jumbotron {
    position: relative;
    
  }
  
  .jumbotron h1 {
    color: #fff;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
  }
  
  .jumbotron p {
    font-size: 20px;
    color: #fff;
  }

  .simple-panel{
    height : 100px;
    width : 225px;
  } */