
  <div class="d-inline-flex flex-wrap justify-content-center">  
      <div class="col-12 d-flex  justify-content-center" *ngIf="!selectedDate"><h4 class="text-blue">Select Time</h4></div>
      <div class="col-12 d-flex  justify-content-center" *ngIf="selectedDate"><h4 class="text-blue">{{ selectedDate | date:'fullDate'}}</h4></div>
  

    <div class="col-lg-6 d-flex  justify-content-center">
      <div class="d-inline-block">
        <datepicker
        [(ngModel)]="selectedDate" 
        [showWeeks]="false" 
        (ngModelChange)="onDateChange($event)"></datepicker>
      </div>
    </div>
    <div class="col-lg-6 d-flex flex-wrap align-items-center mt-3">
      <ng-container *ngIf="slotsLoaded">
          <ng-container *ngIf="slots.length > 0">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
              <div class="mr-1 mb-1 col-xs-2" *ngFor="let slot of slots">
                <a class="btn btn-sm btn-info align-self-start w-100"
                title="{{slot.specialInstruction}}" (click)="bookAppointment(slot.slotTimeInMillis)">
                  {{slot.slotTime | date:'h:mm a'}}
                </a>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="slots.length === 0">
              We have no availability. Please choose a different date.
          </ng-container>
      </ng-container>
      <ng-container *ngIf="!slotsLoaded">
        loading slots ...
      </ng-container>
    </div>
    
  </div>

