
<div class="container">
  <div class="d-flex flex-wrap text-center">
    <div class="col-12" *ngIf="!selectedDate"><h4>Select Time</h4></div>
    <div class="col-12" *ngIf="selectedDate"><h4>{{ selectedDate | date:'fullDate'}}</h4></div>
  </div>
  <div class="d-flex flex-wrap">  
    <div class="col-lg-6">
      <div class="d-inline-block">
        <datepicker [(ngModel)]="selectedDate" [showWeeks]="false" (ngModelChange)="onDateChange($event)"></datepicker>
      </div>
    </div>
    
      <div class="col-lg-6">
        <ng-container *ngIf="slotsLoaded">
          <div class="d-flex flex-wrap align-items-center">
            <ng-container *ngIf="slots.length > 0">
              <div class="mr-1 col-xs-2" *ngFor="let slot of slots">
                <a class="btn btn-sm btn-info align-self-start w-100"
                title="{{slot.specialInstruction}}" (click)="bookAppointment(slot.bookingId)">
                  {{slot.slotTime | date:'hh:mm a'}}
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="slots.length === 0">
                No slots Available
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="!slotsLoaded">
          loading slots ...
        </ng-container>
      </div>
    
  </div>
</div>

