.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.slot-button{
    font-weight: bold;
    cursor: pointer;
}
.slots-div{
    padding: 4px;
}


.dates-block{
    background: #fdfdfd;
}
.horz-dates ul {
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.horz-dates li {
    display: inline;
}

.previous-li a,.next-li a{
    color: #797979;
}
.previous-li .fa,.next-li .fa{
    font-size: 32px;
}
.previous-li{
    position: relative;
    left: 10px;
    top: 18px;
    float: left;
}
.next-li{
    position: relative;
    right: 10px;
    top: 18px;
    float: right;
}
.today-date-li a{
    text-decoration: none;
    width: 122px;
    padding:10px;
    text-align: center;
    display: inline-block;
    color: black;
    font-weight: bold;
}
