<div style="width:500px;margin:0 auto;background: #f8f8f8;padding-top:10px;">

        
        <div align="center" style="border-bottom:1px solid #f1f1f1;padding-top:10px;padding-bottom:20px;">
            <img src="assets/logo.png" width="185" style="text-align:center;">
        </div>

        <div style="background:#673AB7;padding:4px;">
                <p style="text-align:center;font-weight:bold;color:white;font-size:15px;">
                        APPOINTMENT CONFIRMATION
                </p>
                
        </div>


        <div style="padding-left:10px;">
                <p style="margin-bottom: 4px;font-size:20px;color: #86b817;"><b>Confirmed Appointment</b></p>
                <p style="font-size:20px;margin-top:2px;"><b>Saturday ,December 2 at 9:30AM.</b></p>
        </div>
        
        
        <div style="padding-bottom:10px;padding-top:10px;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;">
            
            <div style="padding:10px;">
                    <div style="vertical-align: middle;display: table-cell;">
                        <img src="image-2.jpg" width="85" height="85">
                    </div>
                    <div style="display:inline;display: table-cell;">
                        <div style="padding-left:10px;">
                            <span>Hi your appointment has been fixed.If an element is taller than the element containing it, and it is floated, it will overflow outside of its container. You can use the "clearfix" hack to fix this (see example below).</span>
                        </div>
                    </div>
            </div>
            
        </div>

        <div style="padding-bottom:10px;padding-top:10px;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;">
            
                <div style="padding:10px;">
                        <div style="vertical-align: middle;display: table-cell;width:40%;">
                                <strong style="color: #f4ae01;font-size: 20px;">DETAILS:</strong>
                                <div style="font-size:16px;">
                                    <p>Sat,December 2 at 9:30AM</p>
                                    <p>Dr.Sujatha Muppala,MD</p>
                                    <p>1 Ethel Rd,Edison</p>
                                    <p>abc@gmail.com</p>
                                    <p>9078094570943570</p>
                                </div>
                        </div>
                        <div style="display:inline;vertical-align:middle;display: table-cell;text-align:right;">
                            <div style="padding-left:10px;">
                                    <a href="https://www.google.com/maps/place/1041+NJ-18,+East+Brunswick,+NJ+08816,+USA/@40.4136612,-74.375982,15z/data=!4m5!3m4!1s0x89c3cf08e7f31a1b:0x7d2e11dc377dcd9e!8m2!3d40.4167264!4d-74.3727678" target="new" style="background:#e33238;padding:10px;color:white;text-decoration:none;border-radius: 4px;text-transform: uppercase;">Directions &#9656;</a>
                            </div>
                        </div>
                </div>
                
            </div>

        

        <!-- <div style="padding:10px;">
            
            <div>
                    <strong style="color: #f4ae01;font-size: 20px;">DETAILS:</strong>
                    <div style="font-size:16px;">
                        <p>Sat,December 2 at 9:30AM</p>
                        <p>Dr.Sujatha Muppala,MD</p>
                        <p>1 Ethel Rd,Edison</p>
                        <p>abc@gmail.com</p>
                        <p>9078094570943570</p>
                    </div>
                    <a href="https://www.google.com/maps/place/1041+NJ-18,+East+Brunswick,+NJ+08816,+USA/@40.4136612,-74.375982,15z/data=!4m5!3m4!1s0x89c3cf08e7f31a1b:0x7d2e11dc377dcd9e!8m2!3d40.4167264!4d-74.3727678" target="new" style="background:#FFC107;padding:10px;color:white;text-decoration:none;border-radius: 4px;">Directions</a>
            </div><br/>
                
            
        </div> -->

        <div style="background:#673AB7;color:white;font-size:15px;padding:5px;">
                <p style="text-align:center;">
                        © 2018 Lorvids.  All rights reserved.
                </p>
                <p style="text-align:center;">
                        Please do not reply directly to this email. It was sent from an unattended mailbox.For correspondence please use <a href="" style="text-decoration:none;font-weight: bold;color:white;">webmaster@lorvids.com</a>
                </p>
                
                <p style="text-align:center;">
                        <a href="" style="text-decoration:none;font-weight: bold;color:white;">Unsubscribe</a> | <a href="" style="text-decoration:none;font-weight: bold;color:white;">Visit website</a> | <a href="" style="text-decoration:none;font-weight: bold;color:white;">Privacy policy</a>
                </p>
        </div>
        
</div>


<!-- <section class="mt-5" id="confirm-appt">
    <div class="container p-5">
        
        <div class="row d-flex justify-content-center">
            <h5 class="text-blue">Hello {{user.name}},</h5>
        </div>
        <div class="row d-flex justify-content-center">
            <h5 class="text-blue">Your Appointment with {{business.bus_name}} is confirmed.</h5>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="text-muted">{{business.address}}</p>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center mb-3">
        <div class="col-md-6 d-flex justify-content-center align-items-center staff-box">
            <div class="text-center">
                <img src="{{imageRoot}}/{{staff.image}}" height="115" width="115" 
                            class="img-round img-photo d-inline-block " alt="">
                <h6 class="text-blue p-1">{{staff.staff_name}}</h6>
            </div>
        </div>
        <div class="col-md-6 ">
                <p class="text-blue text-center">{{appointment.service}}</p> 
           
                <div  class="text-red text-center"><strong>{{appointment.time | date:'hh:mm a'}}</strong></div>    
                <div class="text-blue text-center">{{ appointment.time | date:'fullDate'}}</div>
        </div>
    </div>
    <div class="container  d-flex justify-content-center align-items-center">
        links for create account, enter password etc
    </div>
</section>
 -->