<section id="reviewbooking"  class="pb-5 pt-5" *ngIf="!apptBooked">
    <div class="mb-5 mt-5 container-fluid d-flex flex-column-reverse flex-sm-column-reverse flex-md-row justify-content-around">
        
        <div class="col-md-8 align-items-stretch mt-1">
            <div class="card">
                <div class="card-header bg-logo-letter-o"> 
                    <h4 class="text-uppercase mb-0 py-2 text-white">Appointment Details</h4>
                </div>
                <div class="card-body">
                    <form #appointmentForm="ngForm">
                        <div class="form-group">
                            <label for="id-name" class="col-12 col-form-label"> Name </label>
                            <div class="col-12">
                                <input name="uname" 
                                id="id-name" 
                                [(ngModel)]="userData.name"
                                class="form-control" 
                                type="text"
                                #uname = "ngModel"
                                required>
                                <span class="help-block" 
                                [hidden]="uname.valid || uname.pristine">
                                we need your name to book the appointment
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-email" class="col-12 col-form-label">E-Mail</label>
                            <div class="col-12">
                                <input 
                                name="uemail" 
                                id="id-email" 
                                [(ngModel)]="userData.UserEmail"
                                class="form-control"
                                #uemail = "ngModel"
                                required email>
                                <span class="help-block" 
                                [hidden]="uemail.valid || uemail.pristine">
                                we need your email to book the appointment
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-phone" class="col-12 col-form-label">Phone</label>
                            <div class="col-12">
                                <input 
                                type="phone"
                                name="uphone" 
                                id="id-phone" 
                                [(ngModel)]="userData.phone"
                                class="form-control"
                                #uphone = "ngModel"
                                pattern="[0-9]*"
                                minlength="10"
                                maxlength="10" 
                                required>
                                <span class="help-block" 
                                [hidden]="uphone.valid || uphone.pristine">
                                we need your phone number to book the appointment
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-svc" class="col-12 col-form-label">Select Service</label>
                            <div class="col-12" *ngIf="business">
                                <select name="svc" id="id-svc" 
                                class="form-control"
                                #svc = "ngModel"
                                [(ngModel)]="svcSelected" required>
                                <ng-container *ngFor="let srvc of business.services; first as isFirst">
                                    <option 
                                        [ngValue]="srvc">
                                        {{srvc.name}} ({{srvc.cost | currency}})
                                    </option>
                                </ng-container>
                                
                                </select>
                                <span class="help-block" 
                                [hidden]="svc.valid || svc.pristine">
                                Please select a reason for your visit.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-spl-instr" class="col-12 col-form-label">Special Insructions (Optional)</label>
                            <div class="col-12">
                                <textarea 
                                name="splInstr" 
                                id="id-spl-instr" 
                                class="form-control" 
                                rows="3" ngModel></textarea>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="error">
                            {{errorMessage}}
                        </div>
                        <div class="form-group">
                            <div class="col-12  text-center">
                            <a  class="btn btn-md bg-logo-letter-o booking-btn cursor-pointer" (click)="saveAppointment()">
                                    <h6 class="text-uppercase mb-0 py-2 text-white">Book Appointment</h6>
                            </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card" *ngIf="business">
                <div class="card-header bg-logo-letter-o"> 
                    <h4 class="text-uppercase mb-0 py-2 text-white">{{business.bus_name}}</h4>    
                </div>
                <div class="card-body">
                    <div>
                        <div class=" m-1 col-12 w-100" >
                            <span>
                                <img alt="{{business.bus_name}}" height="100%" width="100%" 
                                src="{{imageRoot}}/{{business.defaultImage}}" title="{{business.bus_name}}"
                                class="rounded">
                            </span>
                        </div>
                        <div class="text-muted col-12">
                            {{business.address}}
                        </div>
                        <div class="m-3">
                           
                            <div class="m-1 text-blue font-weight-bold">
                                {{bookingTime | date:'h:mm a'}} on {{ bookingTime | date:'EEEE, MMM d y'}}
                            </div>
                            <ng-container *ngIf="staff">
                                <div class="m-1">{{staff.staff_name}}</div>
                                <div class="m-1"> {{svcSelected.name}} ({{svcSelected.cost | currency}})</div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-confirm-appointment *ngIf="apptBooked" [business]="business" 
[staff]="staff" [user]="user" [appointment]="appointment">

</app-confirm-appointment>

