<div class="sign-up-col">
  <div class="panel panel-info" >
    <div class="panel-heading red-background">
        <div class="panel-title text-center">SIGN UP IT'S FREE</div>
    </div>     
    <div class="padding-top-30 panel-body">
        <form name="loginForm" #loginForm="ngForm" class="form" novalidate>
                <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email"
                         name="email"
                         [(ngModel)]="userEmail"
                         class="form-control input-lg" placeholder="Email" tabindex="1" required
                         #email="ngModel"
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                        <span *ngIf="email.errors && (email.dirty || email.touched)" class="help-block">
                          <span [hidden]="!email.errors.required">
                            Email is required!
                          </span>
                          <span [hidden]="!email.errors.pattern">
                              Not a valid email!
                          </span>
                        </span>
                </div>

                <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password"
                        [(ngModel)]="userPwd" 
                        class="form-control input-lg" 
                        placeholder="Password" tabindex="4" 
                        required  #password="ngModel">
                </div>



              <div class="alert alert-danger mt-1" role="alert" *ngIf="error">
                    {{errorMessage}}
              </div>
              <div class="row margin-top-10 padding-10">
                    <button type="button" 
                    class="btn btn-primary btn-lg btn-block yellow-button padding-10 create-btn cursor-pointer" 
                    (click)="login()" 
                    [disabled]="!loginForm.form.valid">Log in</button>
                </div>

                <div class="row omb_loginOr">
                              <div class="col-sm-12 col-md-12">
                                  <hr class="omb_hrOr">
                                  <span class="omb_spanOr">or</span>
                              </div>
                 </div>
                <div>
                      
                  <div class="row omb_socialButtons">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                          <a href="javascript:void(0)" (click)="signInWithFB()" 
                          class="btn btn-lg btn-block omb_btn-facebook">
                              <i class="fa fa-facebook visible-xs"></i>
                              <span class="hidden-xs">Facebook</span>
                          </a>
                      </div>
                     
                      <div class="col-xs-12 col-sm-6 col-md-6">
                          <a href="javascript:void(0)" (click)="signInWithGoogle()" 
                          class="btn btn-lg btn-block omb_btn-google">
                              <i class="fa fa-google-plus visible-xs"></i>
                              <span class="hidden-xs">Google+</span>
                          </a>
                      </div>	
                  </div>

                </div>
                <br/>
                <div class="text-center">
                        Already have an account? <a href="">Login here!</a>
                </div>
          </form>   

    </div>                     
  </div>  
</div>
  
