<!-- <form id="search-form-homepage">
        <input #searchFor id="search-input" name="search" 
        placeholder="What service are you looking for?" type="text"> -->
        <!--<a id="search-btn"  (click)="onSearch(searchFor.value)" 
        class="btn btn-lg btn-primary" value="Search">Search</a>
</form> -->
<form class="form-inline" id="search-form-homepage">
        <input class="form-control mr-sm-2" #searchFor id="search-input" name="search" 
              placeholder="What service are you looking for?" type="text">
        <button type="submit" id="search-btn" (click)="onSearch(searchFor.value)" 
        class="btn btn-outline-success my-2 my-sm-0">Search</button>        
        <!-- <a id="search-btn" (click)="onSearch(searchFor.value)" 
        class="btn btn-default" value="Search">Search</a> -->
</form>