<!-- <form id="search-form-homepage">
        <input #searchFor id="search-input" name="search" 
        placeholder="What service are you looking for?" type="text"> -->
        <!--<a id="search-btn"  (click)="onSearch(searchFor.value)" 
        class="btn btn-lg btn-primary" value="Search">Search</a>
</form> -->
<form class="navbar-form navbar-left" id="search-form-homepage">
        <div class="form-group">
           <input #searchFor id="search-input" name="search" 
              placeholder="What service are you looking for?" type="text">
        </div>
        <button type="submit" id="search-btn" (click)="onSearch(searchFor.value)" 
        class="btn btn-primary">Search</button>        
        <!-- <a id="search-btn" (click)="onSearch(searchFor.value)" 
        class="btn btn-default" value="Search">Search</a> -->
</form>