.search-results-container{
    margin-top: 42px;
}
.search-results{
    margin-top: 20px;
}
.search-result{
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #fff;
}

.text-muted {
    color: #757575;
}
.media-photo-badge {
    display: inline-block;
    position: relative;
}
.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
}
.img-round, .media-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}


glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-beach {
    color: #ffb400;
}
.review-icon {
    padding-right: 2px;
    padding-left: 2px;
}
.bus-container{
    cursor: pointer;
}