._64jr6j7{
    height: 64px !important;
    background: #ffffff !important;
    position: fixed !important;
    z-index: 9 !important;
}
._64jr6j71 {
    background: #ffffff !important;
    position: fixed !important;
    z-index: 9 !important;
    height: 65px !important;
    border-bottom: 1px solid #DBDBDB !important;
}
._gpueh5e{
    height: 48px !important;
    width: 100% !important;
    position: initial !important;
    overflow-x: initial !important;
    white-space: initial !important;
}
._1rfx9h43{
    background: #ffffff !important;
    width: 100% !important;
    z-index: 4 !important;
    position: relative !important;
    height: 64px !important;
    border-bottom: 0px !important;
    padding: 16px 16px !important;
}
._36rlri{
    display:inline-block !important;
    float: left;
}
._1k069il0 {
    display: inline-block !important;
    position: relative !important;
    margin: 0 4px 0 8px !important;
}
._1gi6kpd{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #484848 !important;
    background: none !important;
    border: 1px solid #dce0e0 !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    display: inline-block !important;
    outline: none !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
}
._17u98ky {
    display: table-cell !important;
    vertical-align: middle !important;
}
._10orebnn{
    float: right !important;
    padding-right: 8px !important;
    line-height: 32px !important;
}
._1f1ehpc5{
    font-weight: normal !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #767676 !important;
    display: inline !important;
}
._1ykwubb0 {
    height: 64px !important;
    position: relative !important;
}
.facet-popover {
    position: absolute !important;
    left: 0px !important;
    z-index: 10 !important;
    background: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15) !important;
    padding: 24px !important;
    white-space: normal !important;
    top: 40px !important;
    width: 280px !important;
    visibility: visible !important;
}
/* .gendercontainer{

}

@media (min-width : 744px)
.genderItem{
    width : 100% !important;
    float: left !important;
}
.genderItem{
    min-height: 1px !important;
    position: relative !important;
    width: 100% !important;
    float: left !important;
    
}
.genderItemwidth{
    min-width: 344px !important;
}
.size-checkbox{
    background: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 2px !important;
    height: 18px !important;
    width: 18px !important;
    display: inline-block !important;
    text-align: center !important;
    overflow: hidden !important;
}
.table-cell-div{
    display: table-cell !important;
    vertical-align: top !important;
    white-space: normal !important;
}
label{
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    padding: 0px !important;
    display: table !important;
}
.checkbox-wrapper{
    display: inline-block !important;
    cursor: pointer !important;
    padding: 0px !important;
}

.gender-checkbox{
    position: absolute !important;
    width: 0px !important;
    opacity: 0 !important;
}
.label-text{
    cursor: pointer !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    display: inline-block !important;
    position: relative !important;
    top: -3px !important;
    vertical-align: top !important;
    padding-left: 8px !important;
} */
.awsui .awsui-checkbox-styled-box {
    transition: border-color 25ms ease;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    vertical-align: top;
    cursor: pointer;
}

.awsui .awsui-native-internal-checkbox:focus+div {
    border-color: #38d;
    outline: 0;
    box-shadow: 0 0 8px rgba(51,136,221,.5);
}

.awsui .awsui-checkbox-styled-box-checked {
    border-color: #ccc;
}

.awsui {
    font-size: 14px;
    line-height: 21px;
    font-family: Helvetica Neue,Roboto,Arial,sans-serif;
    color: #444;
    background-color: #fff;
}