<ng-container *ngIf="businessLoaded">
    
    <div class="container width-100-prt margin-top-75">

        <div class="row d-flex flex-column-reverse flex-sm-column-reverse flex-md-row justify-content-around">
            <div class="col-md-8 padding-0 left-col">
                <div align="center" class="d-none d-md-block border-bottom-1px border-color-ccc">
                    <div>
                        <img src="{{imageRoot}}/{{staffSelected?.image}}" class="img-round img-photo">
                        <h4>{{staffSelected?.staff_name}}</h4>
                        <p>{{staffSelected?.staff_profession}}</p>
                        <div>{{business.bus_name}} </div>
                        <div>{{business.address}}</div>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <span *ngIf="business.isOpenNow">Open </span> 
                            <span *ngIf="!business.isOpenNow">Closed </span> 
                            ({{business.openTime | date:'hh:mma'}} - 
                            {{business.closeTime | date:'hh:mma'}})
                        </p>
                    </div>
                </div>

                <div class="bus-overviewcontent">
                    <ng-container *ngIf="staffSelected?.personalStatement != ''">
                        <h4>Professional statement</h4>
                        <p>
                            {{staffSelected?.personalStatement}}
                        </p>
                    </ng-container>
                    
                    <ng-container *ngIf="staffSelected?.service_specialities">
                        <h4>Specialties</h4>
                        <p *ngFor="let svc of staffSelected?.service_specialities.split(',')">
                            {{svc}}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="staffSelected?.education">
                        <h4>Education and Training</h4>
                        <p *ngFor="let edu of staffSelected?.education.split(',')">
                            {{edu.trim()}}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="staffSelected?.awards">
                        <h4>Awards</h4>
                        <p *ngFor="let award of staffSelected?.awards.split(',')">
                            {{award.trim()}}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="staffSelected?.affiliations">
                        <h4>Affiliations</h4>
                        <p *ngFor="let affliation of staffSelected?.affiliations.split(',')">
                            {{affliation.trim()}}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="staffSelected?.staff_languages">
                        <h4>Languages Spoken</h4>
                        <p *ngFor="let language of staffSelected?.staff_languages.split(',')">
                            {{language.trim()}}
                        </p>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-4 padding-0 right-col">
                <div align="center" class="d-md-none border-bottom-1px border-color-ccc">
                    <div>
                        <img src="{{imageRoot}}/{{staffSelected?.image}}" class="img-round img-photo">
                        <h4>{{staffSelected?.staff_name}}</h4>
                        <p>{{staffSelected?.staff_profession}}</p>
                        <div>{{business.bus_name}} </div>
                        <div>{{business.address}}</div>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            <span *ngIf="business.isOpenNow">Open </span> 
                            <span *ngIf="!business.isOpenNow">Closed </span> 
                            ({{business.openTime | date:'hh:mma'}} - 
                            {{business.closeTime | date:'hh:mma'}})
                        </p>
                    </div>
                </div>
                <div class="padding-15">
                    <div align="center">
                        <h4>Schedule appointment at {{business.bus_name}}</h4>
                    </div>
                    <br/>

                    <div class="form-group">
                        <label for="staffSelect">
                            <strong>Choose Staff</strong>
                        </label>
                        <select class="form-control" 
                                id="staffSelect"
                                [(ngModel)]="staffSelected">
                            <option *ngFor="let estaff of business.staff;" [ngValue]="estaff">
                                {{estaff.staff_name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label><strong>What's the reason for your visit?</strong></label>
                        <select class="form-control" [(ngModel)]="srvcSelected">
                            <option *ngFor="let srvc of business.services;" [ngValue]="srvc">
                                {{srvc.name}}
                            </option>
                        </select>
                    </div>
                    <div align="center">
                        <app-staff-slots [business]="business" 
                        [staff]="staffSelected" 
                        [previousSlotId]="prevAppointment?.appointmentId" 
                        [pUserEmail]="prevAppointment?.userEmail"
                        [srvcSelected]="srvcSelected"></app-staff-slots>
                    </div>
                    <!-- <div class="dates-block">
                            <div class="horz-dates" align="center">
                                <ul style="border-bottom: 1px solid #ccc;">
                                    <li class="previous-li">
                                        <a href="javascript:void(0);" (click)="previous()"><i class="fa fa-arrow-circle-left"></i></a>
                                    </li>
                                    <li class="today-date-li">
                                        <a href="javascript:void(0);">
                                            <p style="margin:0px !important;padding:0px !important;">{{horzDates.day}}</p>
                                            <span>{{horzDates.month}} {{horzDates.date}}</span>
                                        </a>
                                    </li>
                                    <li class="next-li">
                                        <a href="javascript:void(0);" (click)="next()"><i class="fa fa-arrow-circle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <br/>
                            <div align="center">
                                <app-staff-slots [business]="business" [staff]="staffSelected" [previousSlotId]="prevAppointment?.appointmentId" [pUserEmail]="prevAppointment?.userEmail"></app-staff-slots>
                            </div>
                    </div> -->
                </div>
            </div>

        </div>

    </div>
   

</ng-container>