
<div class="container">
    <div class="row">
        <h2>
            Review appointment details
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div> 
    <div class="row">
        <div class="panel col-sm-7">
            <div class="panel-content m-top-2">
                <form (ngSubmit)="bookAppointment(appointmentForm)" #appointmentForm="ngForm">
                    <div class="form-group">
                        <label for="id-name" class="col-2 col-form-label"> Name </label>
                        <div class="col-10">
                            <input name="uname" 
                            id="id-name" 
                            class="form-control" 
                            type="text"
                            #uname="ngModel"
                            ngModel required>
                            <span class="help-block" 
                            *ngIf="!uname.valid && uname.touched">
                               we need your name to book the appointment
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id-email" class="col-2 col-form-label">E-Mail</label>
                        <div class="col-10">
                            <input 
                            name="uemail" 
                            id="id-email" 
                            class="form-control"
                            #uemail="ngModel"
                            ngModel required email>
                            <span class="help-block" 
                            *ngIf="!uemail.valid && uemail.touched">
                               we need your email to book the appointment
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id-phone" class="col-2 col-form-label">Phone</label>
                        <div class="col-10">
                            <input 
                            name="uphone" 
                            id="id-phone" 
                            class="form-control"
                            #uphone="ngModel"
                            ngModel required phone>
                            <span class="help-block" 
                            *ngIf="!uphone.valid && uphone.touched">
                               we need your phone number to book the appointment
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id-spl-instr" class="col-2 col-form-label">Special Insructions (Optional)</label>
                        <div class="col-10">
                            <textarea 
                            name="splInstr" 
                            id="id-spl-instr" 
                            class="form-control" 
                            rows="3" ngModel></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel col-sm-7">
            <div class="panel-header">
                 <h3>Appointment Details</h3>
            </div>
            <div class="panel-content">
                    <div>
                        <h4 class="m-bot-1">10:30 AM EST, Monday, September 10, 2017</h4>
                    </div>
                    <div>
                        <h4 class="m-bot-1" *ngIf="staff"> {{staff.staff_name}}</h4>
                    </div>
                    <div><h4>Service Selected or default service by staff</h4></div>
                    <div id="address" class="m-bot-2 text-muted" *ngIf="business">
                        {{business.address}}
                    </div>
            </div>
        </div>
        
    </div>  
    <div class="row">
        <div class="panel col-sm-7">
            <div class="panel-header">
                <h3>Special Notes : </h3>
            </div>
            <div class="panel-content m-left-2 m-top-2">
                <ul class="list-group" *ngIf="business">
                    <li class="list-item" *ngFor="let instruction of business.appointment_instructions">
                        {{instruction}}
                    </li>
                </ul>
            </div>    
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-7">
           <a  class="btn btn-md btn-primary booking-btn" (click)="bookAppointment()">Book Appointment</a>
        </div>
    </div>
</div>