<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Staff-Name/Staff Details</strong>
      </div>
      <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">First Name</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                <span class="help-block">This is a help text</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                <span class="help-block">This is a help text</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">File input</label>
              <div class="col-md-9">
                <input type="file" id="file-input" name="file-input">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Email</label>
              <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                <span class="help-block">Please enter your email</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="password-input">Phone</label>
              <div class="col-md-9">
                <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="disabled-input">Disabled Input</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">About me</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Working Hours</label>
              <div class="col-md-9">
                <label class="checkbox-inline" for="inline-checkbox1">
                  <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">Same as Business Hours
                </label>
                <label class="col-md-3 col-form-label" for="email-input">Sunday</label>
                <div class="col-md-9">
                  <input type="time" id="start1" name="start hours" class="form-control" placeholder="9:00"> -
                  <input type="time" id="start2" name="end hours" class="form-control" placeholder="5:00">
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
  </div>
</div>