

<!-- <div class="footer-content">
    <div class="container">
        <div class="row">

          <div class="col-xs-12 text-center">
              copyrights reserved !!!!
          </div>

        </div>
      

    </div>
</div> -->


<footer id="footerhome" class="bg-color footer-pos bd-footer text-muted">
    <div class="container">
      <ul class="bd-footer-links">
        <li><a href="https://github.com/twbs/bootstrap">About Us</a></li>
        <li><a href="https://twitter.com/getbootstrap">Terms & Conditions</a></li>
        <li><a href="https://twitter.com/getbootstrap">Email Us</a></li>
      </ul>
      <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
    </div>
  </footer>