.footer-pos {
    position:absolute; 
    width:100%;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color:#ffffff !important;
    border-top: 1px solid #DBDBDB !important;
    padding-top: 50px;
    padding-bottom: 50px
}

footer #bottom-footer {
    padding-top: 50px;
    padding-bottom: 100px
}

footer #bottom-footer ul {
    color: #0064d3 !important;
}

footer #bottom-footer ul li a {
    color: #0064d3 !important;
}

footer #bottom-footer .social-icons li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: white;
    border-radius: 25px;
    text-align: center
}

footer #bottom-footer .social-icons li a {
    color: #3fbaeb
}

footer #copyright {
    color: #0064d3 !important;
    text-align: center;
    margin-bottom: 0
}

ul,ol,li {
    list-style: none;
    margin: 0;
    padding: 0
}

@media (max-width: 767px) {
    footer {
        height:550px
    }

    footer .f-logo {
        text-align: center;
        margin-bottom: 20px
    }

    footer .list {
        text-align: center;
        margin-bottom: 30px
    }

    footer .social-list {
        text-align: center;
        margin-bottom: 30px
    }

    footer #bottom-footer {
        margin-bottom: 0!important
    }

    footer.height-350 {
        height: 380px!important
    }
}

@media (min-width: 1201px) {
    .container {
        width:1230px;
        max-width: 100%
    }
}

@media (max-width: 991px) {
    .ui-autocomplete {
        max-width:690px
    }

    .inner-container-lg {
        max-width: 935px;
        margin: 15px
    }
}

@media (max-width: 900px) {
    .inner-container-lg {
        margin:0 30px
    }
}

@media (max-width: 767px) {
    .select2-container--default .select2-selection--single {
        padding-left:45px;
        border-radius: 4px
    }

    .select2-container {
        width: 100%
    }

    .ui-autocomplete {
        max-width: 510px
    }
}
