<section id="footer">
    <footer class="footer p-t-50">
                <div class="container">
                <div class="inner-container-lg">
                    <div class="m-b-100" id="bottom-footer">
                        <div class="row">
                            <div class="col-md-3 col-xs-12 f-logo">
                                <img width="100" src="{{imageRoot}}/logo.png" alt="Logo">
                            </div>
                            <div class="col-md-3 col-sm-6 col-6 list">
                                <ul>
                                    <li><a href="/about-us">About us</a></li>
                                    <li><a href="/about-us">About us</a></li>
                                    <li><a href="/about-us#press">Press</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 col-6 list">
                                <ul>
                                    <li><a href="/jobs">Careers</a></li>
                                    <li><a href="/contact-us">Contact us</a></li>
                                    <li><a href="/help">Help</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-12 social-list ">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/lorvids/"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="https://twitter.com/lorvids"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="https://www.instagram.com/lorvids/"><span class="fa fa-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p id="copyright">All rights reserved &copy; <a href="javascript:void();" title="lovids">Lorvids</a></p>
                </div>
        </div>
    </footer>
</section>