.list-inline-item {
    margin-right: 5px;
    padding: 0px 5px;
    border-radius: 4px;
    margin-bottom: 3px;
}

@media (max-width:414px) {
    .iphone {
        padding-left: 2.5rem!important;
    }
}

@media (max-width:375px) {
    .iphone {
        padding-left: 1.5rem!important;
    }
}

@media (max-width:360px) {
    .iphone a .list-inline-item {
        font-size: .9rem;
    }
}

@media (max-width:320px) {
    .iphone a .list-inline-item {
        font-size: .73rem;
    }
}




.btn-more-slots{
   position : absolute !important;
   -webkit-transform: translateY(-50%) !important;
   transform: translateY(-50%) !important;
   z-index : 10;
   top : 50%;
   right: -23px;
}

.btn-prev-slots{
   position : absolute !important;
   -webkit-transform: translateY(-50%) !important;
   transform: translateY(-50%) !important;
   z-index : 10;
   top : 50%;
   left: -26px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #ffffff;
    border: 3px solid lightblue;
}