<!-- //staff name
//Staff picture
//staff phone
//staff nick name
// staff business hours. same as business hours
//staff role
//attach to services -->

<div class="container margin-top-8-pr">

    <div class="row margin-bottom-25">
        <div class="col-12">
            <ul class="nav nav-tabs abdb-tabs">
                <li><a href="javascript:void(0);"><span class="span1">&nbsp;1.&nbsp;</span> BUSINESS INFO</a></li>
                <li><a href="javascript:void(0);"><span class="span1">&nbsp;2.&nbsp;</span> SERVICES</a></li>
                <li class="active"><a href="javascript:void(0);"><span class="span1">&nbsp;3.&nbsp;</span> STAFF INFO</a></li>
            </ul>
        </div>

    </div>


    <div class="row">
        <div class="col">
          <h2>
              Let's add staff to <span class="text-logo-letter-o font-weight-bold">{{businessData?.bus_name}}</span>
          </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
           <form class="form-horizontal" 
                 (ngSubmit)="addStaff()" 
                 #addStaffForm="ngForm">
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-name" class="">Staff Name: </label>
                        <input type="text" class="form-control" 
                          id="id-staff-name" 
                          name="staffName"
                          placeholder="Staff Name"
                          [(ngModel)]="staffData.staff_name"
                          #staffName="ngModel"
                          required>
                        <span class="help-block" 
                          [hidden]="staffName.valid || staffName.pristine">
                            Staff Name is required
                        </span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-email" class="">Staff Email: </label>
                        <input type="email" class="form-control" 
                           id="id-staff-email" 
                           name="staffEmail"
                           [(ngModel)]="staffData.staff_email"
                           placeholder="Staff Email"
                           #staffEmail="ngModel"
                           required>
                        <span class="help-block" 
                              [hidden]="staffEmail.valid || staffEmail.pristine">
                             Staff Email is required
                         </span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-phone" class="">Staff Phone: </label>
                        <input type="text" class="form-control" 
                          id="id-staff-phone" 
                          name="staffPhone"
                          placeholder="Staff Phone"
                          [(ngModel)] = "staffData.staff_phone"
                          #staffPhone="ngModel"
                          required>
                          <span class="help-block" 
                                [hidden]="staffPhone.valid || staffPhone.pristine">
                             Staff Phone is required
                          </span>
                    </div>
                    <!-- <div class="col-md-6">
                        <label for="id-staff-email" class="">Staff Salary: </label>
                        <input type="email" class="form-control" 
                           id="id-staff-email" 
                           name="staffEmail"
                           placeholder="Staff Salary (Optional)"
                           [(ngModel)]="staffData.staff_salary"
                           #staffEmail="ngModel">
                    </div> -->
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-langs" class="">Languages Spoken (Enter comma seperated): </label>
                        <input type="text" class="form-control" 
                          id="id-staff-langs" 
                          name="staffLangs"
                          placeholder="Languages Spoken by Staff"
                          [(ngModel)] = "staffData.staff_languages"
                          #staffLangs="ngModel">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-stmt" class="">Peronal Statement: </label>
                        <textarea rows="2" class="form-control"
                            id="id-staff-stmt" 
                            name="staffStmt"
                            placeholder="Personal Statement"
                            #staffStmt="ngModel"
                            [(ngModel)]="staffData.personalStatement">
                        </textarea>
                    </div>
                    
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-awards" class="">Awards (Enter comma seperated) : </label>
                        <textarea rows="2" class="form-control"
                            id="id-staff-awards" 
                            name="staffAwards"
                            placeholder="Awards"
                            #staffAwards="ngModel"
                            [(ngModel)]="staffData.awards">
                        </textarea>
                    </div>
                </div>
                <div class="row form-group" *ngIf="">
                    <div class="col">
                        <label for="id-staff-affliations" class="">Affliations (Enter comma seperated) : </label>
                        <textarea rows="2" class="form-control"
                            id="id-staff-affliations" 
                            name="staffAffliations"
                            placeholder="Affliations"
                            #staffAffliations="ngModel"
                            [(ngModel)]="staffData.affliations">
                        </textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="id-staff-tags" class="">Tags (Enter comma seperated) : </label>
                        <textarea rows="2" class="form-control"
                            id="id-staff-tags" 
                            name="staffTags"
                            placeholder="Enter search tags"
                            #staffTags="ngModel"
                            [(ngModel)]="staffData.tags">
                        </textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <div>
                            <label class="">Available Services: </label>
                            <ul class="nav d-flex flex-wrap">
                                <li class="nav-item flex-column align-items-start"
                                    *ngFor="let service of availableServices">
                                    <div>
                                        <label class="custom-control custom-checkbox" >
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{{service.name}}</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <div>
                            <label class="">Upload Images: </label>
                            <image-upload 
                                url="{{uploadApi}}"
                                (removed)="onImageRemoved($event)"
                                [headers]="awsHeaders"
                                [beforeUpload]="onBeforeUpload"
                                [uploadedFiles]="staffUploadedImages">
                            </image-upload>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="d-flex flex-column align-items-center">
                        <div>
                            <h6>Working hours</h6>
                        </div>
                        <!-- <div class="w-50"><hr></div> -->
                        <div>
                            <label class="custom-control custom-checkbox" >
                                <input type="checkbox" 
                                name="sameAsBusinessHours"
                                class="custom-control-input" 
                                [(ngModel)]="sameAsBusiness"
                                (change)="onClickBusCheckbox()">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Same as business hours</span>
                            </label>
                        </div>
                        <div>
                            <app-business-hours 
                                [startTime]="startTime"
                                [endTime]="endTime"
                                [busHours]="staffData.bus_hours"
                                (onBeginTimeSelected)="beginTimeSelected($event)"
                                (onEndTimeSelected)="endTimeSelected($event)">
                            </app-business-hours>
                        </div>     
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col" *ngIf="isAddStaff">
                        <button type="submit"
                                name="addAnother" 
                                class="btn yellow-button cursor-pointer">Add Staff</button>
                    </div>
                    <div class="col" *ngIf="!isAddStaff">
                        <button type="submit"
                                name="addAnother" 
                                class="btn yellow-button cursor-pointer">Update Staff</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="list-group">
                <ng-container *ngFor="let eachStaff of staffList">
                    <span class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <div class="text-center">
                            <a href="staffpage" class="">    
                                <img src="{{imageRoot}}/{{eachStaff.image}}" height="115" width="115" 
                                        class="img-round img-photo d-inline-block " alt="">
                            </a>
                        </div>
                        <div class="d-flex w-100 flex-column align-items-center mt-3">
                        <h5 class="mb-1">{{eachStaff.staff_name}}</h5>
                            <p class="mb-1">
                                    {{eachStaff.staff_email}}.
                            </p>
                            <p class="mb-1">
                                    {{eachStaff.staff_phone}}.
                            </p>
                        </div>
                        </div>
                        
                        <small>
                            <a [routerLink]="" class="btn btn-sm" (click)="modifyStaff(eachStaff)"> EDIT</a>
                            <a [routerLink]="" class="btn btn-sm" (click)="removeStaff(eachStaff)"> REMOVE</a>
                        </small>
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-right">
            <button id="btnCancel" name="btnCancel" 
                    class="btn btn-default my-btn btn-ccc cursor-pointer">BACK</button>
            <button id="btnSubmit" name="btnSubmit" 
                    class="btn btn-default my-btn btn-red cursor-pointer"
                    (click)="saveStaff()">Done</button>
        </div>
    </div>
</div>  


