<!-- //staff name
//Staff picture
//staff phone
//staff nick name
// staff business hours. same as business hours
//staff role
//attach to services -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <h2>
              Let's add a new staff to {{businessName}}
          </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <form class="form-horizontal" 
        (ngSubmit)="addStaff()" 
        #addStaffForm="ngForm">
      <div class="row">
          <div class="col-md-6">
              <div class="row form-group">
                <div class="col">
                    <label for="id-staff-name" class="">Staff Name: </label>
                    <input type="text" class="form-control" 
                      id="id-staff-name" 
                      name="staffName"
                      placeholder="Staff Name"
                      #staffName="ngModel"
                      ngModel required>
                    <span class="form-text text-muted" 
                          *ngIf="!staffName.valid && staffName.touched">
                        Business Name is required
                    </span>
                </div>
              </div>
              <div class="row form-group">
                  <div class="col">
                      <label for="id-staff-email" class="">Staff Email: </label>
                      <input type="email" class="form-control" 
                        id="id-staff-email" 
                        name="staffEmail"
                        placeholder="Staff Email"
                        #staffEmail="ngModel"
                        ngModel required>
                  </div>
              </div>
              <div class="row form-group">
                  <div class="col">
                      <label for="id-staff-phone" class="">Staff Phone: </label>
                      <input type="tel" class="form-control" 
                        id="id-staff-phone" 
                        name="staffPhone"
                        placeholder="Staff Phone"
                        #staffPhone="ngModel"
                        ngModel required>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col">
                    <div>
                        <label class="">Available Services: </label>
                        <ul class="nav d-flex flex-wrap">
                            <li class="nav-item flex-column align-items-start"
                                *ngFor="let service of availableServices">
                                <div>
                                    <label class="custom-control custom-checkbox" >
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">{{service.name}}</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col">
                    <div>
                        <label class="">Upload Images: </label>
                        <image-upload 
                           url="https://kdmgdajlje.execute-api.us-east-1.amazonaws.com/dev/savepic/b-test-01"
                           (removed)="onImageRemoved($event)"
                           [headers]="awsHeaders"
                           [beforeUpload]="onBeforeUpload"
                           [uploadedFiles]="images">
                        </image-upload>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-column align-items-center">
                <div>
                    <h6>working hours</h6>
                </div>
                <div class="w-50"><hr></div>
                <div>
                    <label class="custom-control custom-checkbox" >
                      <input type="checkbox" class="custom-control-input" (change)="onClickBusCheckbox()">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Same as business hours</span>
                    </label>
                </div>
            
                <div>
                    <app-business-hours 
                       [startTime]="startTime"
                       [endTime]="endTime"
                       #busHours>
                    </app-business-hours>
                </div>
                
            </div>
          </div>
      </div>
      <div class="row form-group">
          <div class="col-md-6 text-center">
            <button type="submit"
                    name="addAnother" 
                    class="btn btn-info w-75">Add Another</button>
          </div>
          <div class="col-md-6 text-center">
              <button type="submit" 
                      name="done"
                      class="btn btn-info w-75">Done With Staff</button>
          </div>
      </div>
    </form>
  </div>  


