/* You can add global styles to this file, and also import other style files */
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}
.text-center {
    text-align: center;
}
.m-bot-1 {
    margin-bottom: 6px;
}
.m-bot-2 {
    margin-bottom: 12px;
}
.m-bot-3 {
    margin-bottom: 18px;
}
.m-top-2 {
    margin-top: 12px;
}
.m-top-3 {
    margin-top: 18px;
}
.m-top-4 {
    margin-top: 24px;
}
.m-right-5{
    margin-right: 30px;
}
.div-inline{
    float:left;
}


textarea, input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='time'], input[type='url'], input[type='week'] {
    -webkit-appearance: none;
    background-color: #fff;
    font: 400 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
}

input, textarea, select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input, select {
    vertical-align: middle;
}
button, input, select, textarea {
    margin: 0;
    padding: 0;
}