body {
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
    color: #484848;/* #000000; */
    background-color: #ffffff;
    margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 10px 0;
}

/************************************/


/************ Buttons ***************/


/************************************/

.page-max-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/************************************/


/*******  Border Classes ************/


/************************************/

.border-radius {
    border-radius: 4px;
}

.no-radius {
    border-radius: 0;
}

.border-blue {
    border: 1px solid #3a74c4;
}

.border-black {
    border: 1px solid #000000;
}

.border-grey {
    border: 2px solid #eee;
}

.border-dashed {
    border-style: dashed;
}


/************************************/


/*******  Color clases default  *****/


/************************************/


.text-white {
    color: #ffffff !important;
}

.text-logo-image {
    color: #46A8D7 !important;
}

.text-logo-letter-l {
    color: #E33238 !important;
}

.text-logo-letter-o {
    color: #0064d3 !important;
}

.text-logo-letter-r {
    color: #F5AF02 !important;
}

.text-logo-letter-v {
    color: #86B817 !important;
}


/************************************/


/*******  Background classes ********/


/************************************/

.bg-white {
    background: #ffffff !important;
}

.bg-logo-image-color {
    background :  #46A8D7  !important;
}

.bg-logo-letter-l {
    background :  #E33238  !important;
}

.bg-logo-letter-o {
    background :  #0064d3  !important;
}

.bg-logo-letter-r {
    background :  #F5AF02  !important;
}

.bg-logo-letter-v {
    background :  #86B817  !important;
}


/************************************/


/************ Font sizes ************/


/************************************/

.text-small {
    font-size: 16px;
}

.text-medium {
    font-size: 18px !important;
}

.text-large {
    font-size: 28px !important;
}

.text-xlarge {
    font-size: 32px !important;
}

.text-xxlarge {
    font-size: 36px !important;
}

.text-xxxlarge {
    font-size: 40px !important;
}

@media (max-width: 768px) {
    .text-small {
        font-size: 14px !important;
    }
    .text-medium {
        font-size: 16px !important;
    }
    .text-large {
        font-size: 24px !important;
    }
    .text-xlarge {
        font-size: 28px !important;
    }
    .text-xxlarge {
        font-size: 32px !important;
    }
    .text-xxxlarge {
        font-size: 36px !important;
    }
    .heading {
        max-width: 100% !important;
    }
    .extra-padding {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media (max-width: 767px) {
    .extra-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.strong {
    font-weight: bold !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.w-xy-auto {
    width: auto;
    height: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.no-border {
    border: none;
}

.br-0 {
    border-radius: 0;
}
/* You can add global styles to this file, and also import other style files */
/* body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}
.text-center {
    text-align: center;
}
.m-bot-1 {
    margin-bottom: 6px;
}
.m-bot-2 {
    margin-bottom: 12px;
}
.m-bot-3 {
    margin-bottom: 18px;
}
.m-top-2 {
    margin-top: 12px;
}
.m-top-3 {
    margin-top: 18px;
}
.m-top-4 {
    margin-top: 24px;
}
.m-right-5{
    margin-right: 30px !important;
}
.m-left-1{
    margin-left: 6px;
}
.m-left-2{
    margin-left: 12px;
}
.div-inline{
    float:left;
}


textarea, input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='time'], input[type='url'], input[type='week'] {
    -webkit-appearance: none;
    background-color: #fff;
    font: 400 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
}

input, textarea, select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input, select {
    vertical-align: middle;
}
button, input, select, textarea {
    margin: 0;
    padding: 0;
}

#home-page form #search-input{
    height: 50px;
    width: 426px;
    position: relative;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

#home-page form #search-btn{
    float: right;
    height: 50px;
    border-radius: 0px;
}

#header-search form #search-input{
    height: 34px;
    width: 426px;
    position: relative;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
#header-search form #search-btn{
    float: right;
    height: 34px;
    border-radius: 0px;
}

.position-relative{
    position: relative !important;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.img-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.img-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
}
.cursor-pointer{
    cursor: pointer;
} */
